body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#destination {
 font-weight:600;
}

#ticket {
  font-weight: 600;
}

span {
  text-decoration: underline;
}